.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-light);
}

/* --- HEADER / FOOTER --- */
.app-header,
.app-footer {
    background-color: var(--primary-color);
}

.app-header img {
    max-height: 80px; 
    width: auto;
    margin-left: 10px;
}



.app-footer {
    background-color: var(--primary-color);
    margin-top: auto; 
    color: white;
    display: flex;
    padding: 1rem 1rem;
}

.lang-link {
    cursor: pointer;
    padding: 0 5px;
    transition: color 0.2s;
}

.lang-link:hover {
    color: #cccccc; 
}

.active-lang {
    font-weight: bold;
    color: white; 
    text-decoration: underline; 
}

/* --- CONTEÚDO PRINCIPAL (APP MAIN) --- */
.app-main {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 4rem 2rem;
    flex-grow: 1;
    width: 100%; 
    box-sizing: border-box;
}

.app-h1,
.app-p {
    color: var(--text-dark);
    text-align: left;
    width: 100%;
    margin-left: 0;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* --- BOTÃO --- */
.app-button {
    
    display: flex;
    align-items: center;
    gap: 1rem; 
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    font-size: 1.125rem; 
    

    padding: 0.75rem 2.5rem; 
    border-radius: 9999px;
    border: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
  
    transition: all 300ms ease;
    cursor: pointer;
}

.app-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

.app-button:active {
    transform: scale(0.95);
}
@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Garante que o braco do toast não fica invisível no fundo */
.toast-visible {
    display: block !important;
    animation: slideIn 0.3s ease-out;
}