
:root {
    --primary-color: #043653; 
    --secondary-color: #007bff; 
    --background-light: #f4f6f9; 
    --text-dark: #333333; 
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%; 
  min-height: 100%;
  box-sizing: border-box; 
  
  font-family: Arial, sans-serif;
}

header img {
  max-height: 28px; 
}